<div 
    [ngClass]="editMode ? 'wrapper-label wrapper-label--editMode' : 'wrapper-label'" 
    [ngStyle]="styleObject()"
    (click)="activateEditMode()"
>

    <p class="wrapper-label-text" *ngIf="editMode == false" [ngStyle]="{'font-size': this.size.fontSize.toString() + 'px'}">{{text}}</p>
    <input
        type="text" 
        size="auto"
        #editInput
        class="wrapper-label-input"
        *ngIf="editMode  && labelType == 'TEXT'" 
        [value]="text"  
        (keydown.enter)="disableEditMode(editInput.value)"
        maxlength="20"
    />
    <input
        type="text" 
        size="auto"
        #editInput
        class="wrapper-label-input"
        *ngIf="editMode  && labelType == 'DATE'" 
        [value]="text"  
        (keydown.enter)="disableEditMode(editInput.value)"
        maxlength="10"
    />
</div>