.wrapper-label{
    height: 20px;
    background: #FFAA22;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    display: flex;
    &-text{
        color: #fff;
        font-size: 10px;
        margin: 0;
        order: 1;
    }
    &-input{
       padding: 0 5px 0 5px;
       height: 100%;
       background: transparent;
       color: #fff;
       display: flex;
       font-size: var(--labelFont);
       border: none;
       &:focus{
        outline: 0;
       }
    }
    &--editMode{
        padding: 0;
    }
}
.material-symbols-outlined{
    color: #fff;
    font-size: 16px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    order: 2;
}