<div *ngIf="!isLabelDelete">
    <div 
        [ngClass]="editMode ? 'wrapper-label wrapper-label--editMode' : 'wrapper-label'" 
        [ngStyle]="styleObject()"
        (dblclick)="activateEditMode()"
    >
        <p #labelDiv class="wrapper-label-text"  *ngIf="editMode == false" [ngStyle]="{'font-size': this.size.fontSize.toString() + 'px'}">{{text}}</p>
        <span 
        class="material-symbols-outlined" 
        *ngIf="editMode && labelType == 'TEXT'"
        (click)="deleteLabel()">
            close
        </span>
        <span
            #editInput
            class="wrapper-label-input"
            *ngIf="editMode  && labelType == 'TEXT'" 
            contenteditable
            role="textbox" 
            (keydown.enter)="disableEditMode(editInput)"
        >{{text}}</span>
        <span
            #editInput
            class="wrapper-label-input"
            *ngIf="editMode  && labelType == 'DATE'" 
            contenteditable
            role="textbox" 
            (keydown.enter)="disableEditMode(editInput)"
            maxlength="10"
        >{{text}}</span>
    </div>
</div>
