<article class="wrapper-card" [ngStyle]="{'border-color': bucketColor}" *ngIf="isBucketActive">
    <ng-container *ngIf="isEditModeActive == false; else editModeTitle">
        <h2 class="wrapper-card-title"  (dblclick)="activateEditMode()" (contextmenu)="activateContextMenu($event)">{{bucketData.bucketName}}</h2>
    </ng-container>
    <ng-template #editModeTitle>
        <div class="wrapper-card-edit">
            <input 
            class="edit-input" 
            #editInput 
            value={{bucketData.bucketName}} 
            (keydown.enter)="disableEditMode(editInput.value)"
            (keydown.escape)="disableEditMode(bucketData.bucketName)"
            maxlength="18"
        />
        <div class="icon-container" matTooltip="Teskt nie został zapisany" [matTooltipPosition]="'right'">
            !
        </div>
        </div>
    </ng-template>
    <div  cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="taskArray">
        <app-card 
            *ngFor="let item of taskArray" 
            [currentBucketColor]="bucketColor" 
            [text]="item" 
            [tuskTermin]="'23-12-2023'"
            (isButtonClicked)="isButtonClicked($event)"
        ></app-card>
        <div class="button-container" (contextmenu)="activateContextMenu($event)">
        <button class="button-container-button">
            <img src="../../../assets/add.png"  class="button-container-button-icon" />
        </button>
    </div>
    </div>
</article>