<div class="wrapper-dasboard" cdkDropList cdkDropListOrientation="horizontal" cdkDropListGroup #scrollFrame>
    <nav class="navigation">
        <span class="material-symbols-outlined" (click)="createNewBucket();">
            add_circle
        </span>
    </nav>
    <div class="card-container" *ngFor="let bucket of buckets; let serialNumber = index;">
        <!-- serialNumber + 1 due to the fact that index count from 0 but serial number from 1 -->
        <app-bucket [bucketData]="bucket" [serialNumber]="serialNumber + 1" (activateDialogLabel)="activateDialogLabel()"></app-bucket>
    </div>
    <app-context-menu [list]="contextMenuList"></app-context-menu>
</div>