.wrapper-dasboard{
    // width: fit-content;
    height: 100vh;
    display: flex;
    padding-top: 80px;
    padding-left: 10px;
    overflow: scroll;
    overflow-y: hidden;
}
.card-container{
    width: fit-content;
    height: fit-content;
}
.navigation{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    padding: 50px;
}
.material-symbols-outlined{
    font-size: 30px;
    font-weight: bold;
    color: #22CCDD;
    cursor: pointer;
}   
::ng-deep .mat-dialog-container {
    background: #F6F8FC;
    border-top: 20px solid var(--borderColor);
    border-radius: 20px !important;
}
::ng-deep .cdk-drag-placeholder .wrapper-label,
::ng-deep .cdk-drag-placeholder .wrapper-card-container-icon,
::ng-deep .cdk-drag-placeholder .wrapper-card-text,
::ng-deep .cdk-drag-placeholder .wrapper-card-date-dot{
    display: none !important;
}
::ng-deep .cdk-drag-placeholder{
    height: 154px !important;
    background: #cccccc !important;
}
.context{
    height: 80px;
    width: 200px;
    position: absolute;
    top: var(--contextMenuY);
    left: var(--contextMenuX);
    background: #303030;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    &-list{
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 10px;
        &-text{
            width: 100%;
            height: 30px;
            font-family: 'Arimo', sans-serif;
            font-weight: bold;
            font-size: 12px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 20px;
            border-radius: 5px;
            &:hover{
                background: #1C1C1C;
            }
        }
    }
}
.click-area{
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
}