<div (cdkDragDropped)="onDrag($event)" class="wrapper-card" cdkDrag (click)="cardClicked()" (contextmenu)="getMousePosition($event)">
    <header class="wrapper-card-container">
        <div class="labels">
            <app-label 
                [text]="'Magda'" 
                [labelType]="'TEXT'" 
                [margin]="'2px'" 
                [labelColor]="'#978AFF'" 
                [disableEditModePernamently]="true"
                [size]="{width:70,height:22,fontSize:14}" 
            ></app-label>
            <app-label 
                [text]="'Zrób'" 
                [labelType]="'TEXT'" 
                [margin]="'2px'" 
                [labelColor]="'#1199EE'" 
                [disableEditModePernamently]="true"
                [size]="{width:70,height:22,fontSize:14}" 
            ></app-label>
            <div class="icon-container">
                <img class="icon-container-icon" src="../../../assets/add.png">
            </div>
        </div>
    </header>
    <article class="wrapper-card-text">
        <p>{{taskData.taskTitle}}</p>
    </article>
    <footer class="wrapper-card-date">
        <app-label 
            [text]="taskData.taskDeadlineTime" 
            [labelType]="'DATE'" 
            [disableEditModePernamently]="true"
            [size]="{width:70,height:22,fontSize:13}" 
        ></app-label>
        <div class="wrapper-card-date-dot" *ngIf="true">
            <div class="wrapper-card-date-dot-decoration"></div>
        </div>
    </footer>
</div>