<div class="wrapper-card" cdkDrag (click)="cardClicked()" (contextmenu)="getMousePosition($event)">
    <header class="wrapper-card-container">
        <div class="labels">
            <app-label [text]="'Magda'" [labelType]="'TEXT'" [margin]="'2px'" [labelColor]="'#978AFF'" [disableEditModePernamently]="true"></app-label>
            <app-label [text]="'Zrób'" [labelType]="'TEXT'" [margin]="'2px'" [labelColor]="'#1199EE'" [disableEditModePernamently]="true"></app-label>
            <span class="material-symbols-outlined wrapper-card-container-icon">
                add_circle
            </span>
        </div>
    </header>
    <article class="wrapper-card-text">
        <p>{{text}}</p>
    </article>
    <footer class="wrapper-card-date">
        <app-label [text]="tuskTermin" [labelType]="'DATE'" [disableEditModePernamently]="true"></app-label>
        <div class="wrapper-card-date-dot" *ngIf="true"></div>
    </footer>
</div>